body {
  text-align: center;
  background-image: linear-gradient(to right, #0e1118, #000a2c);
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
}

i{
  color: rgb(253, 194, 194)
}

.fa-github{
  color: white;
  position: absolute;
  right: 40%;
  left: 40%;
  bottom: 3%;
}
.fa-github:hover{
  color: #94cfff;
}

footer {
  color: #DBEDF3;
  position: absolute;
  font-size: 1.5em;
  right: 30%;
  left: 30%;
  bottom: 10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.w {
  background-image: url('images/kick.png');
}

.a {
  background-image: url('images/crash.png');
}

.s {
  background-image: url('images/snare.png');
}

.d {
  background-image: url('images/tom1.png');
}

.j {
  background-image: url('images/tom2.png');
}

.k {
  background-image: url('images/tom3.png');
}

.l {
  background-image: url('images/tom4.png');
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
